<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<meta name=viewport content="width=device-width, initial-scale=1"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<base href="./" th:href="@{/}"/>
<title>persons.kit.to</title>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"/>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<script type="text/javascript" src="js/persons-min.js"></script>
<style type="text/css">
    .ui-content ul.ui-listview {
        margin: 0px;
    }
    .ui-sortable-placeholder {
        height: 1em;
    }
    button.ui-btn.create {
        background-color: palegreen;
    }
    button.ui-btn.create:hover {
        background-color: lightgreen;
    }
</style>
</head>

<body>
  <div data-role="page">
    <div data-role="header" data-theme="a" data-position="fixed">
      <h1>persons.kit.to</h1>
    </div>
    <div data-role="content">
      <fieldset  class="ui-grid-a">
        <div class="ui-block-a">
          <ul data-role="listview" data-inset="true"><li data-role="list-divider">Disuse</li></ul>
          <ul id="disuseList" data-role="listview" data-inset="true" data-split-icon="gear">
            <li><a href="#">郵便番号</a><a></a></li>
            <li><a href="#">住所</a><a></a></li>
            <li><a href="#">住所(かな)</a><a></a></li>
            <li><a href="#">電話番号</a><a></a></li>
            <li><a href="#">マイナンバー</a><a></a></li>
          </ul>
        </div>
        <div class="ui-block-b">
          <ul data-role="listview" data-inset="true"><li data-role="list-divider">Use</li></ul>
          <ul id="busyList" data-role="listview" data-inset="true" data-split-icon="gear" class="sortableList">
            <li><a href="#">UUID</a><a></a></li>
            <li><a href="#">姓</a><a></a></li>
            <li><a href="#">名</a><a></a></li>
            <li>
                <a href="#">姓(かな)</a><a></a>
            </li>
            <li><a href="#">名(かな)</a><a></a></li>
          </ul>
        </div>
      </fieldset>
      <button type="button" class="create">Create</button>
    </div>
    <div id="familyKana" data-role="panel" data-display="overlay" data-position="right">
        姓(かな)設定
    </div>
  </div>
</body>
</html>
