<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<meta name=viewport content="width=device-width, initial-scale=1"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<base href="./" th:href="@{/}"/>
<title>persons.kit.to</title>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"/>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<script type="text/javascript" src="js/persons-min.js"></script>
<style type="text/css">
    .ui-content ul.ui-listview {
        margin: 0px;
    }
    .ui-sortable-placeholder {
        height: 1em;
    }
    input.numeric {
        text-align: right;
    }
    button.ui-btn.create {
        background-color: palegreen;
    }
    button.ui-btn.create:hover {
        background-color: lightgreen;
    }
</style>
</head>

<body>
  <div data-role="page">
    <div data-role="header" data-theme="a" data-position="fixed">
      <h1>persons.kit.to</h1>
    </div>
    <div data-role="content">
      <form id="personsForm">
        <fieldset class="ui-grid-a">
          <div class="ui-block-a">
            <ul data-role="listview" data-inset="true"><li data-role="list-divider">Disuse</li></ul>
            <ul id="disuseList" data-role="listview" data-inset="true" data-split-icon="gear">
              <li><a href="#">都道府県(かな)</a><a href="#kenAll.prefKana"></a></li>
              <li><a href="#">市区町村(かな)</a><a href="#kenAll.municKana"></a></li>
              <li><a href="#">町域(かな)</a><a href="#kenAll.cityKana"></a></li>
              <li><a href="#">マイナンバー</a><a href="#myNumber.text"></a></li>
              <li><a href="#">電話番号</a><a href="#phone.text" data-depends="kenAll"></a></li>
            </ul>
          </div>
          <div class="ui-block-b">
            <ul data-role="listview" data-inset="true"><li data-role="list-divider">Use</li></ul>
            <ul id="busyList" data-role="listview" data-inset="true" data-split-icon="gear" class="sortableList">
              <li><a href="#">UUID</a><a href="#UUID.text"></a></li>
              <li><a href="#">姓</a><a href="#familyName.kanji"></a></li>
              <li><a href="#">名</a><a href="#firstName.kanji"></a></li>
              <li><a href="#">姓(かな)</a><a href="#familyName.kana"></a></li>
              <li><a href="#">名(かな)</a><a href="#firstName.kana"></a></li>
              <li><a href="#">郵便番号</a><a href="#kenAll.zip7"></a></li>
              <li><a href="#">都道府県</a><a href="#kenAll.pref"></a></li>
              <li><a href="#">市区町村</a><a href="#kenAll.munic"></a></li>
              <li><a href="#">町域</a><a href="#kenAll.city"></a></li>
            </ul>
          </div>
        </fieldset>
        <div class="ui-grid-a">
          <div class="ui-block-a"></div>
          <div class="ui-block-b">
            <div class="ui-field-contain">
              <label>Number:</label>
              <input name="numberOfPersons" pattern="[0-9]*" value="10000" min="0" max="100000"
                  type="number" class="numeric"/>
            </div>
          </div>
        </div>
        <button type="button" class="create">Create</button>
      </form>
    </div>
    <div id="uuid.text" data-role="panel" data-display="overlay" data-position="right">
      <div class="ui-body ui-body-a ui-corner-all">'UUID'設定</div>
    </div>
    <div id="familyName.kanji" data-role="panel" data-display="overlay" data-position="right">
      <div class="ui-body ui-body-a ui-corner-all">'姓'設定</div>
    </div>
    <div id="firstName.kanji" data-role="panel" data-display="overlay" data-position="right">
      <div class="ui-body ui-body-a ui-corner-all">'名'設定</div>
    </div>
  </div>
</body>
</html>
